header {
  display: flex;
  justify-content: space-between;
}

main {
  margin-left: 50px;
  margin-right: 50px;
}

#intro {
  text-align: center;
}

#end {
  display: none;
}

#highscores {
  display: none;
}

button {
  background-color: purple;
  color: white;
  border-radius: 5px;
  font-size: 1.5em;
}

ul {
  list-style: none;
}

