header{
    display: flex;
    justify-content: space-between;
}
#intro{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

#startButton{
    background-color: purple;
    color: white;
    border-radius: 5px;
    font-size: 1.5em;
}
